
<div id="listMenu">  
  <h2>Shark species</h2>
  <ul id="MenuSpecies">
    <li ng-repeat="sp in ctrl.species"ng-click="ctrl.showSpecies(sp)">{{sp.nameEn}}</li>
  </ul>
  <div class="clear"></div>
  
   <h2>Custom species groups</h2>
  <ul id="MenuSpecies">
    <li ng-repeat="group in ctrl.groups"ng-click="ctrl.showGroup(group)">{{group.name}}</li>
  </ul>
  <div class="clear"></div>
        
  <h2>Management Entities</h2>          
  <ul id="MenuEntities">          
    <li ng-repeat="entity in ctrl.entities"ng-click="ctrl.showEntity(entity)">{{entity.acronym}}</li>
  </ul>         
  <div class="clear"></div>
          
  <h2>Countries</h2>            
  <ul role="menu" id="MenuCountries">
    <li ng-repeat="country in ctrl.countries"ng-click="ctrl.showCountry(country)">{{country.name}}</li>
  </ul> 
   <div class="clear"></div>
</div>

 
