<div class="country-page">
  <div id="main">
    <header>
      <h2 class="pagetitle">{{ctrl.country.name}}</h2>
      <div class="clear"></div>
    </header>
  
    <section id="primary">
    
      <section ng-repeat="(type, poas) in ctrl.groupedPoas">
        <h2>{{type}}</h2>
        <section class="measure" ng-repeat="poa in poas" ng-click="ctrl.showPoa(poa)">
          <div class="symbol">
            <ul>
              <li class="binding">{{poa.status}}</li>
            </ul>
          </div> 
          <div class="title">
            <h4>{{poa.title}}</h4> 
            <p>{{poa.status}}</p> 
            <div class="year">year <b>{{poa.poAYear}}</b></div>
            <div ng-repeat="source in poa.sources">
              <div class="download" ng-if="source.url!==null">
                <a href="{{source.url}}" target="_blank">
                  <img src="images/download-icon.png">
                </a>
              </div>
            </div>
           </div> 
        </section>
      </section>
      
      <h2 ng-if="ctrl.country.others.length!=0">Others</h2>
      <section class="measure" ng-repeat="other in ctrl.country.others" >
        <div class="title">
          <h4>{{other.type}}</h4>
          <p>{{other.title}}</p> 
          <div class="year">year <b>{{other.year}}</b></div>
          <div class="download" ng-if="other.url!==null">
            <a href="{{other.url}}" >
              <img src="images/download-icon.png">
            </a>
          </div>
        </div>
      </section>
  
      <h2>Other legislation on sharks (FAOLEX)</h2>
      <section class="measure"> 
        <div class="title">
          <h4>type</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p> 
          <div class="year">year <b>1975</b></div>
          <div class="download"><a href="#"><img src="images/download-icon.png"> </a></div>
        </div> 
      </section>
      
      <h2>Other legislations (FAOLEX)</h2>
      <section class="measure"> 
        <div class="title">
          <p>More FAO Lex records for {{ctrl.country.name}}</p> 
          <div class="download">
            <form id="faolexForm" method="post" target="_blank" action="http://faolex.fao.org/cgi-bin/xml.exe" style="display:none;">
              <input value="dynamic" type="hidden" name="search_type">
              <input value="FAOLEX" type="hidden" name="database">
              <input value="result" type="hidden" name="table">
              <input value="@SCRY" type="hidden" name="sort_name">
              <input value="fi" type="hidden" name="e_subfile">
              <input value="N" type="hidden" name="Repealed">
              <input value="N" type="hidden" name="consolidated">
              <input value="{{ctrl.country.name}}" type="hidden" name="country">
              <input value="search" type="hidden" name="SEARCH">
              <input value="@EPHALL" type="hidden" name="page_header">
              <input value="@ESALL" type="hidden" name="format_name">
              <input value="eng" type="hidden" name="lang">
            </form>
            <a href="" ng-click="ctrl.submitFaoLexForm()">
              <img src="images/download-icon.png"> 
            </a>
          
          </div>
        </div> 
      </section>
   
    </section>
  
    <section id="secondary">
      <div id="listOfRFBs">
        <h2>List of RFBs</h2> 
        <ul class="list">
          <li ng-repeat="rfb in ctrl.country.rfbs">
            <a ng-click="ctrl.showEntity(rfb)" ng-class="{disabled:!rfb.hasInformationSources}">{{rfb.acronym}}</a>
          </li>  
        </ul>
      </div>
    </section>
  </div>
</div>
