<div class="panel panel-default">
  <div class="panel-heading">Select one or more entities:</div>

  <!-- List group -->
  <ul class="list-group">
      <li class="list-group-item" 

       ng-class="{'active':ctrl.isSelected(entity)} pointer"
             ng-repeat="entity in ctrl.entities" 
      ng-click="ctrl.toggle(entity)">
       {{entity.acronym}} - {{entity.name}}
    </li>
  </ul>
  
   <div class="panel-footer">
    <input class="btn btn-default pull-right" type="button" value="View selected" ng-disabled="ctrl.selected.length === 0" 
    ng-click="ctrl.showSelected()">
    <div class="clearfix"></div>
   </div>
  
</div>
