<div class="entity-page">
  <div id="main">
    <header>
      <section class=“pagetitle”>
        <h2 class="pagetitle">{{ctrl.entity.acronym}}</h2> 
        <h3 class="subtitle">{{ctrl.entity.name}}</h3>
      </section>
            
      <section id="infoBox">
        <div class="logo">
          <a ng-if="ctrl.entity.webSite!==null" ng-href="{{ctrl.entity.webSite}}" target="_blank"><img ng-src="{{ctrl.logoUrl}}"></a>
          <div class="factSheet" ng-if="ctrl.factsheetsUrl!==null"><a ng-href="{{ctrl.factsheetsUrl}}">RFB fact sheet</a></div> 
        </div>
      </section>
  
      <div class="clear"></div>
    </header>
  
    <section id="primary">
      <h2>Measures</h2>
      
      <measure ng-repeat="measure in ctrl.ems" value="measure">
      </measure>
      
      <h2 ng-if="ctrl.entity.others.length!=0">Others</h2>
      <section class="measure" ng-repeat="other in ctrl.entity.others" >
        <div class="title">
          <h4>{{other.type}}</h4>
          <p>{{other.title}}</p> 
          <div class="year">year <b>{{other.year}}</b></div>
  		<div class="download" ng-if="other.url!==null">
            <a href="{{other.url}}" >
              <img src="images/download-icon.png">
            </a>
          </div>
        </div>
      </section>
      
      
      <div id="sidemap" ng-show="ctrl.hasCompentenceAreaMap">
        <h2>{{ctrl.entity.acronym}} area of competence</h2>  
        <div id="areaMap" class="FigisMap"></div>
        <div class="figisMapLink">
          <a ng-href="{{ctrl.mapUrl}}" target="_blank">Launch the RFBs map viewer</a>   
        </div> 
      </div>
  
    </section>
  
    <section id="secondary">
    
      <div id="memberCountries" ng-if="ctrl.entity.members.length!=0">
        <h2>Member countries</h2>	
        <ul class="list">
          <li ng-repeat="member in ctrl.entity.members">
            <a ng-click="ctrl.showCountry(member)" ng-class="{disabled:!member.hasPoAs}">{{member.name}}</a>
          </li>	
        </ul>
      </div>
  
    </section>
  </div> 
</div> 
