
<section id="entitySelector">
  
  <div id="map" style="position:relative">
    <img src="images/entities/base.png" class="mapBaseImage">
    <img ng-repeat="entity in ctrl.entities" 
          ng-src="images/entities/{{entity.acronym | lowercase}}.png" 
          class="mapEntityImage"
          ng-class="{'hidden': !ctrl.isInMap(entity)}">
  </div>
        
  <div id="legend">
    <ul>          
      <li ng-repeat="entity in ctrl.entities">
        <a class="entity" ng-click="ctrl.show(entity)">{{entity.acronym}}</a>
        <div class="eye" ng-click="ctrl.toggleInMap(entity)">
          <img id="eye" ng-src="images/{{ctrl.isInMap(entity)?'eye':'neye'}}.png">
        </div>
      </li>
      <li class="cites"><a ng-click="ctrl.showCITES()" class="entity">CITES</a></li>
      <li class="cms"><a ng-click="ctrl.showCMS()" class="entity">CMS</a></li>  
    </ul>
  </div>            
</section>

<view-footer text="{{ctrl.footer.text}}"></view-footer> 
