<div class="panel panel-default">
  <div class="panel-heading">Measure details</div>
  <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li>
            <b>Symbol</b>: {{ctrl.measure.symbol}}
            </li>
            <li>
            <b>Title</b>: {{ctrl.measure.title}}
            </li>
            <li>
            <b>Binding</b>: {{ctrl.measure.binding}}
            </li>
            <li>
            <b>Reservation</b>: {{ctrl.measure.reservation}}
            </li>
            <li>
            <b>Description</b>: {{ctrl.measure.description}}
            </li>
            <li>
            <b>Note</b>:{{ctrl.measure.note}}
            </li>
            <li>
            <b>Adoption</b>: {{ctrl.measure.adoption}}
            </li>
            <li>
            <b>Start</b>: {{ctrl.measure.start}}
            </li>
            <li>
            <b>End</b>:{{ctrl.measure.end}}
            </li>  
            <li>
            <b>Measure Year</b>:{{ctrl.measure.measureYear}}
            </li>  
            <li>
            <b>Document Type</b>:{{ctrl.measure.documentTyper}}
            </li>     
            <li ng-click="ctrl.showEntity(ctrl.measure.mgmtEntity)" class="pointer">
            <b>Management Entity</b>:{{ctrl.measure.mgmtEntity.acronym}}
            </li>                  
          </ul>
        </div>
      </div>

<!-- 
"area":null}
"customSpeciesGrps":[],
 -->

     
      <div class="panel panel-default">
        <div class="panel-heading">Sources:</div>
        <div class="panel-body">
         <table class="table">
          <thead>
            <tr>
              <th>Symbol</th><th>Title</th><th>Citation</th><th>Year</th><th>Abstract</th><th>Note</th><th>Publisher</th><th>Information Type</th><th>Entity</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="source in ctrl.measure.informationSources">
            <td>{{source.symbol}}</td>
            <td><a href="{{source.url}}">{{source.title}}</a></td>
            <td>{{source.citation}}</td>
            <td>{{source.infoSrcYear}}</td>
            <td>{{source.abstractField}}</td>
            <td>{{source.node}}</td>
            <td>{{source.publisher}}</td>
            <td>{{source.informationType.description}}</td>
            <td>{{source.mgmtEntity}}</td>
          </tr>
          
          </tbody>
	     </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Related species:</div>
        <div class="panel-body">
         <table class="table">
          <thead>
            <tr>
              <th>Alpha code</th><th>Scientific name</th><th>English name</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="species in ctrl.measure.species"  class="pointer" ng-click="ctrl.showSpecies(species)">
            <td>{{species.alphaCode}}</td>
            <td>{{species.scientificName}}</td>
            <td>{{species.nameEn}}</td>
          </tr>
          
          </tbody>
       </table>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">Tags</div>
        <div class="panel-body">
          <span class="label label-default" ng-repeat="tag in ctrl.measure.measureTags">{{tag.description}}</span>
        </div>
      </div>
      
      
  </div>


  
     <div class="panel-footer">
      <input class="btn btn-default pull-right" type="button" value="Back" ng-click="ctrl.back()" >
      <div class="clearfix"></div>
     </div>

</div>
