<div class="panel panel-default">
  <div class="panel-heading">Species details</div>
  <div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          Species x y z
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">Global</div>
        <div class="panel-body">
         <table class="table">
      
	     </table>
        </div>
      </div>

    
    
    </div>
	<div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <br>
          Photo
          <br>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-body">
          <br>
          <br>
          Map
          <br>
          <br>
        </div>
      </div>
	</div>
  </div>


  
   <div class="panel-footer">
    <input class="btn btn-default pull-right" type="button" value="Back"  >
    <div class="clearfix"></div>
   </div>
  
</div>
