
<!--   This is the species selection for mobile --> 

<style>
#sharkSelection{
  width: 100%;
  max-width: 1200px;
  height: 400px;
  overflow: hidden;
  display: -webkit-flex;
-webkit-flex: 1;
-webkit-flex-flow:wrap;
}

ul#sharkSelection li{
  list-style-type: none;
  padding: 20px 10px 0;
  margin:  2px;
border-radius: 3px;
  float: left;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 1);
  height: 33px;
}

ul#sharkSelection li.families{
  background-color: rgba(96,156,203,1);
}

ul#sharkSelection{
padding: 0px 0px 0px;
margin: 0.5%;
width: 100%;
float: left;
border-radius: 3px;
}

</style>

<!-- class="mobile" -->
<section>
<ul id="sharkSelection">
<li class="families">Deep sea sharks</li>
<li class="families">Skates and Rays</li>
<li class="families">Hammerhead sharks</li>
<li class="families">Thresher sharks</li>

<li ng-repeat="sp in ctrl.species" ng-click="ctrl.show(sp)">{{sp.nameEn}}</li>
</ul>
</section>
