
<section id="SpeciesSelector">
  <div id="sharksIllu">
    <img src="images/shark_image_0000_Cetorhinus_maximus_pri2.png">
    <div id="sharksInfo">
      <h1>{{ctrl.title}}</h1>
      <h2>{{ctrl.subTitle}}</h2>
    </div>
  </div>  
  
  <ul>
   <li class="selectorspecies selectorfamily" 
   ng-repeat="group in ctrl.groups" 
   ng-click="ctrl.showGroup(group)" 
   ng-mouseover="ctrl.hoverGroup(group)">
      <img src="images/shark_thumb_0000_Cetorhinus_maximus_pri2.png">
      <span class="mobile">{{group.customSpeciesGrp}}</span>
    </li>
    <li class="selectorspecies" 
     ng-class="{ singlespecies: $first}"
    ng-repeat="sp in ctrl.species" 
    ng-click="ctrl.show(sp)"
    ng-mouseover="ctrl.hoverSpecies(sp)"
    >
      <img ng-src="{{ctrl.speciesThumbUrl(sp)}}" err-src="{{ctrl.missingThumbUrl}}">
      <span class="mobile">{{sp.nameEn}}</span>
      
      
    </li>
  </ul>
</section>

<view-footer text="{{ctrl.footer.text}}" show-urls="{{ctrl.showUrls}}"></view-footer> 
