<div id="main">
  
  <header>
      <h2 class="pagetitle">{{ctrl.species.nameEn}}</h2>

      <section id="infoBox">
        <div class="sharkPict">
          <img ng-src="{{ctrl.imageUrl(ctrl.species)}}" err-src="{{ctrl.missingImageUrl}}">
        </div>
      
        <div class="sharkInfo">
          <ul class="commonNames">
            <li class="lat">{{ctrl.species.scientificName}}</li>
            <li ng-repeat="(lang, name) in ctrl.species.officialNames" class="{{lang}}">
            	<b>{{lang}}:</b>{{name}}
            </li>
            <li>FAO 3-alpha code: {{ctrl.species.alphaCode}}</li>
          </ul>
          <footer>
            <ul class="links">
              <li ng-if="ctrl.showCitesLink"><a ng-click="ctrl.showEntity('CITES')">Cites</a></li>  
              <li ng-if="ctrl.showCmsLink"><a ng-click="ctrl.showEntity('CMS')">CMS Appendix 2 species</a></li>
             </ul>
            <div class="factSheet">Species fact sheet</div>
          </footer>
        </div>
      </section>
      <div class="clear"></div>
  </header>
          
  <section id="primary">
  
    <div ng-repeat="(acronym, measures) in ctrl.ems">
      <h2>{{acronym}}</h2>
      
      <section class="measure" ng-repeat="measure in measures">
        <div class="symbol">
          <ul>
            <li>{{measure.symbol}}</li>
            <li class="binding">{{measure.binding?'Binding':'Non Binding'}}</li>
          </ul>
        </div> 
        <div class="title">
          <h4>{{measure.documentType}}</h4> 
          <p>{{measure.title}}</p> 
          <div class="year">year <b>{{measure.year}}</b></div>
          <div ng-repeat="source in measure.sources">
            <div class="download" ng-if="source.url!==null">
              <a href="{{source.url}}" >
                <img src="images/download-icon.png">
              </a>
            </div>
          </div>
         </div> 
      </section>
    </div>
  </section>

  <section id="secondary">
 
    <div id="sidemap">
      <h2>Map of distribution</h2>  
      <iframe width='100%' height='400px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/maxtudio.lm4on1eb/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoibWF4dHVkaW8iLCJhIjoiZlpwbklYSSJ9.tnEdYapHqPgn15mgv8X-hA'></iframe>
    </div>
  
 </section>

</div>
