<div class="panel panel-default">
  <div class="panel-heading">Species details</div>
  <div class="panel-body">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li>
            {{ctrl.species.alphaCode}} - {{ctrl.species.scientificName}} - {{ctrl.species.nameEn}}
            </li>
          </ul>
        </div>
      </div>
      
      <div class="panel panel-default" ng-repeat="em in ctrl.ems">
        <div class="panel-heading">{{em.entity.acronym}}</div>
        <div class="panel-body">
         <table class="table">
          <thead>
            <tr>
              <th>Symbol</th><th>Title</th><th>Year</th><th>Link</th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="measure in em.measures">
            <td>{{measure.symbol}}</td>
            <td ng-click="ctrl.goMeasure(measure)" class="pointer">{{measure.title}}</td>
            <td>{{measure.year}}</td>
            <td>
              <ul>
                <li ng-repeat="source in measure.sources">
                  <a href="{{source.url}}">{{source.symbol}}</a>
                </li>
              </ul>
            </td>
          </tr>
          
          </tbody>
	     </table>
        </div>
      </div>

    
    
    </div>
	<div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <br>
          Photo
          <br>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-body">
          <br>
          <br>
          Map
          <br>
          <br>
        </div>
      </div>
	</div>
  </div>


  
   <div class="panel-footer">
    <input class="btn btn-default pull-right" type="button" value="Back" ng-click="ctrl.back()" >
    <div class="clearfix"></div>
   </div>
  
</div>
