<div class="species-page">
  <div id="main">
    <header>
        <section class=“pagetitle”>
          <h2 class="pagetitle">{{ctrl.species.officialNames.en}}</h2>
        </section>
  
        <section id="infoBox">
          <div class="sharkPict">
            <img ng-src="{{ctrl.imageUrl(ctrl.species)}}" err-src="{{ctrl.missingImageUrl}}">
          </div>
        
          <div class="sharkInfo">
            <ul class="commonNames">
              <li class="lat">{{ctrl.species.scientificName}}</li>
              <li ng-repeat="(lang, name) in ctrl.species.officialNames" class="{{lang}}" ng-if="name!=null">
              	<b>{{lang}}:</b> {{name}}
              </li>
              <li>FAO 3-alpha code: {{ctrl.species.alphaCode}}</li>
            </ul>
            <footer>
              <ul class="links">
                <li ng-if="ctrl.showCitesLink" ng-click="ctrl.showEntity('CITES')"><a>Cites</a></li>  
                <li ng-if="ctrl.showCmsLink" ng-click="ctrl.showEntity('CMS')"><a>CMS Appendix 2 species</a></li>
               </ul>
              <div class="factSheet" ng-if="ctrl.factsheetsUrl!==null"><a ng-href="{{ctrl.factsheetsUrl}}">Species fact sheet</a></div>
            </footer>
          </div>
        </section>
        <div class="clear"></div>
    </header>
            
    <section id="primary">
    
      <div ng-if="ctrl.species.note!=null" class="notes">Note: {{ctrl.species.note}}</div>
      
      <div ng-repeat="(acronym, measures) in ctrl.ems">
        <h2>{{acronym}}</h2>
        
          <measure ng-repeat="measure in measures" value="measure">
          </measure>
  
      </div>
    </section>
  
    <section id="secondary">
   
      <div id="sidemap" ng-show="ctrl.species.hasDistributionMap">
        <h2>Map of distribution</h2>  
        <div id="distributionMap" class="FigisMap"></div>
        <div class="figisMapLink">
          <a ng-href="{{ctrl.mapUrl}}" target="_blank">Launch the Aquatic Species Distribution map viewer</a>
        </div>
     </div>
    
   </section>
  
  </div>
</div>
