
<section id="SpeciesSelector">
  <div id="sharksIllu">
    <img ng-src="{{ctrl.imgUrl}}" err-src="{{ctrl.missingImgUrl}}">
    <div id="sharksInfo">
      <h1>{{ctrl.title}}</h1>
      <h2>{{ctrl.subTitle}}</h2>
    </div>
  </div>  
  
  <ul>
    <li class="selectorspecies selectorfamily" 
        ng-repeat="group in ctrl.groups" 
        ng-click="ctrl.showGroup(group)" 
        ng-mouseover="isHover=true;ctrl.stopAnimation();ctrl.hoverGroup(group)" 
        ng-mouseleave="isHover=false"
        >
      <img ng-src="{{ctrl.groupThumbUrl(group)}}" err-src="{{ctrl.missingThumbUrl}}">
      <div class="selectorhover" ng-class="{selectorhoverVisible:isHover}"></div>
      <span class="mobile">{{group.name}}</span>
    </li>
    <li class="selectorspecies" 
        ng-class="{ singlespecies: $first}"
        ng-repeat="sp in ctrl.species" 
        ng-click="ctrl.showSpecies(sp)"
        ng-mouseover="isHover=true;ctrl.stopAnimation();ctrl.hoverSpecies(sp)"
        ng-mouseleave="isHover=false">
      <img ng-src="{{ctrl.speciesThumbUrl(sp)}}" err-src="{{ctrl.missingThumbUrl}}">
      <div class="selectorhover" ng-class="{selectorhoverVisible:isHover}"></div>
      <span class="mobile">{{sp.nameEn}}</span>
    </li>
  </ul>
</section>

<view-footer text="{{ctrl.footer.text}}" show-urls="ctrl.showUrls"></view-footer> 
