<div class="noPrint" id="bottomBar">
  <div class="floatLeft noPrint">
    <a onclick="if(href.indexOf('@')==-1) href = href + '@' + 'fao.org';" href="mailto:FI-Inquiries">Comments/inquiries</a>
  </div>
  <div class="floatLeft noPrint">
    <a href="http://www.fao.org/fi/website/FISiteMap.do?lang=en" title="Site map">Site map</a>
  </div>
  <div class="floatLeft noPrint">
    <a style="cursor:pointer" href="javascript:document.getElementById('logForm').style.display='';scrollBy(0,100);void(0);">Login</a>
  </div>
  <div class="floatLeft noPrint">
    <a href="http://www.fao.org/fishery/topic/16182/en">e-Bulletin</a>
  </div>
  <div class="floatRight noPrint">
    <a target="_blank" href="http://www.fao.org/corp/copyright/en">©&nbsp;FAO, 2015</a>
  </div>
  <div class="floatRight noPrint">
    <a href="http://www.fao.org/fishery/figis/en">powered by FIGIS</a>
  </div>
</div>