<div id="topMenu" ng-controller="NavigationBarCtrl as ctrl">
  <ul>
    <li ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false"><a href="."><img ng-src="{{ctrl.isActive(ctrl.paths.home) || mouseOver?'images/home-w.png':'images/home-g.png'}}"></a></li> 
    <li><a id="show" ng-href="{{ctrl.href(ctrl.paths.browse)}}" ng-class="{ active: ctrl.isActive(ctrl.paths.browse)}">☰ <b>browse</b></a></li>
  </ul>
</div>

<!--  three labels for the tabbing nav -->
<div id="bx-pager" ng-controller="NavigationBarCtrl as ctrl">
  <div class="label"><a ng-href="{{ctrl.href(ctrl.paths.species)}}" ng-class="{ active: ctrl.isActive(ctrl.paths.species)}">Species</a></div>
  <div class="label"><a ng-href="{{ctrl.href(ctrl.paths.entities)}}" ng-class="{ active: ctrl.isActive(ctrl.paths.entities)}">Institutions</a></div>
  <div class="label"><a ng-href="{{ctrl.href(ctrl.paths.countries)}}" ng-class="{ active: ctrl.isActive(ctrl.paths.countries)}">Countries</a></div>
</div>

  
  