<footer>

	<h4 ng-bind-html="text"></h4>

	<ul class="links" ng-if="showUrls">
		<!-- li><a target="_new" href="http://www.fao.org/fishery/ipoa-sharks/en">FAO sharks page</a></li-->
		<li><a target="_new" href="http://www.fao.org/fishery/fishfinder/en">FAO FishFinder</a></li>
		<li><a href="http://www.fao.org/ipoa-sharks/tools/software/isharkfin/en/">iSharkFin</a></li>
		<li><a target="_new" href="http://www.wcpfc.int/bmis" target="_blank">Bycatch Mitigation Information System</a></li>
	</ul>

</footer>
