@media screen {
	.box0 .boxTop .box .box { background-image: url(../assets/images/boxes/box0/topright.png); }
	.box0 .boxTop .box { background-image: url(../assets/images/boxes/box0/topleft.png); }
	.box0 .boxTop { background-image: url(../assets/images/boxes/box0/top.png); }
	.box0 .boxBottom .box .box { background-image: url(../assets/images/boxes/box0/bottomright.png); }
	.box0 .boxBottom .box { background-image: url(../assets/images/boxes/box0/bottomleft.png); }
	.box0 .boxBottom { background-image: url(../assets/images/boxes/box0/bottom.png); }
	.box0 .boxTop .box, .box0 .boxTop, .box0 .boxBottom .box, .box0 .boxBottom { height: 12px; }
	.box0 .boxBody .box { background-image: url(../assets/images/boxes/box0/left.png); }
	.box0 .boxBody .box .box { background-image: url(../assets/images/boxes/box0/right.png); padding: 0px 12px; }
	
	.box1 .boxTop .box .box { background-image: url(../assets/images/boxes/box1/topright.png); }
	.box1 .boxTop .box { background-image: url(../assets/images/boxes/box1/topleft.png); }
	.box1 .boxTop { background-image: url(../assets/images/boxes/box1/top.png); }
	.box1 .boxBottom .box .box { background-image: url(../assets/images/boxes/box1/bottomright.png); }
	.box1 .boxBottom .box { background-image: url(../assets/images/boxes/box1/bottomleft.png); }
	.box1 .boxBottom { background-image: url(../assets/images/boxes/box1/bottom.png); }
	.box1 .boxTop .box, .box1 .boxTop, .box1 .boxBottom .box, .box1 .boxBottom { height: 12px; }
	.box1 .boxBody .box .box { background-image: url(../assets/images/boxes/box1/right.png); padding: 0px 12px; }
	.box1 .boxBody .box { background-image: url(../assets/images/boxes/box1/left.png); }
	.box1 .boxBody { background-image: url(../assets/images/boxes/box1/body.png); }
	
	.box1e .boxTop .box .box { background-image: url(../assets/images/boxes/box1e/topright.png); }
	.box1e .boxTop .box { background-image: url(../assets/images/boxes/box1e/topleft.png); }
	.box1e .boxTop { background-image: url(../assets/images/boxes/box1e/top.png); }
	.box1e .boxBottom .box .box { background-image: url(../assets/images/boxes/box1e/bottomright.png); }
	.box1e .boxBottom .box { background-image: url(../assets/images/boxes/box1e/bottomleft.png); }
	.box1e .boxBottom { background-image: url(../assets/images/boxes/box1e/bottom.png); }
	.box1e .boxTop .box, .box1e .boxTop, .box1e .boxBottom .box, .box1e .boxBottom { height: 12px; }
	.box1e .boxBody .box .box { background-image: url(../assets/images/boxes/box1e/right.png); padding: 0px 12px; }
	.box1e .boxBody .box { background-image: url(../assets/images/boxes/box1e/left.png); }
	.box1e .boxBody { background-image: url(../assets/images/boxes/box1e/body.png); }
	
	.box1s .boxTop .box .box { background-image: url(../assets/images/boxes/box1s/topright.png); }
	.box1s .boxTop .box { background-image: url(../assets/images/boxes/box1s/topleft.png); }
	.box1s .boxTop { background-image: url(../assets/images/boxes/box1s/top.png); }
	.box1s .boxBottom .box .box { background-image: url(../assets/images/boxes/box1s/bottomright.png); }
	.box1s .boxBottom .box { background-image: url(../assets/images/boxes/box1s/bottomleft.png); }
	.box1s .boxBottom { background-image: url(../assets/images/boxes/box1s/bottom.png); }
	.box1s .boxTop .box, .box1s .boxTop { height: 12px; }
	.box1s .boxBottom .box, .box1s .boxBottom { height: 17px; }
	.box1s .boxBody .box .box { background-image: url(../assets/images/boxes/box1s/right.png); padding: 0px 12px; }
	.box1s .boxBody .box { background-image: url(../assets/images/boxes/box1s/left.png); }
	.box1s .boxBody { background-image: url(../assets/images/boxes/box1s/body.png); }
	
	.box1es .boxTop .box .box { background-image: url(../assets/images/boxes/box1es/topright.png); }
	.box1es .boxTop .box { background-image: url(../assets/images/boxes/box1es/topleft.png); }
	.box1es .boxTop { background-image: url(../assets/images/boxes/box1es/top.png); }
	.box1es .boxBottom .box .box { background-image: url(../assets/images/boxes/box1es/bottomright.png); }
	.box1es .boxBottom .box { background-image: url(../assets/images/boxes/box1es/bottomleft.png); }
	.box1es .boxBottom { background-image: url(../assets/images/boxes/box1es/bottom.png); }
	.box1es .boxTop .box, .box1es .boxTop { height: 12px; }
	.box1es .boxBottom .box, .box1es .boxBottom { height: 17px; }
	.box1es .boxBody .box .box { background-image: url(../assets/images/boxes/box1es/right.png); padding: 0px 12px; }
	.box1es .boxBody .box { background-image: url(../assets/images/boxes/box1es/left.png); }
	.box1es .boxBody { background-image: url(../assets/images/boxes/box1es/body.png); }
	
	.box2 .boxTop .box .box { background-image: url(../assets/images/boxes/box2/topright.png); }
	.box2 .boxTop .box { background-image: url(../assets/images/boxes/box2/topleft.png); }
	.box2 .boxTop { background-image: url(../assets/images/boxes/box2/top.png); }
	.box2 .boxBottom .box .box { background-image: url(../assets/images/boxes/box2/bottomright.png); }
	.box2 .boxBottom .box { background-image: url(../assets/images/boxes/box2/bottomleft.png); }
	.box2 .boxBottom { background-image: url(../assets/images/boxes/box2/bottom.png); }
	.box2 .boxTop .box, .box2 .boxTop, .box2 .boxBottom .box, .box2 .boxBottom { height: 12px; }
	.box2 .boxBody .box .box { background-image: url(../assets/images/boxes/box2/right.png); padding: 0px 12px; }
	.box2 .boxBody .box { background-image: url(../assets/images/boxes/box2/left.png); }
	.box2 .boxBody { background-image: url(../assets/images/boxes/box2/body.png); }
	
	.box2e .boxTop .box .box { background-image: url(../assets/images/boxes/box2e/topright.png); }
	.box2e .boxTop .box { background-image: url(../assets/images/boxes/box2e/topleft.png); }
	.box2e .boxTop { background-image: url(../assets/images/boxes/box2e/top.png); }
	.box2e .boxBottom .box .box { background-image: url(../assets/images/boxes/box2e/bottomright.png); }
	.box2e .boxBottom .box { background-image: url(../assets/images/boxes/box2e/bottomleft.png); }
	.box2e .boxBottom { background-image: url(../assets/images/boxes/box2e/bottom.png); }
	.box2e .boxTop .box, .box2e .boxTop, .box2e .boxBottom .box, .box2e .boxBottom { height: 12px; }
	.box2e .boxBody .box .box { background-image: url(../assets/images/boxes/box2e/right.png); padding: 0px 12px; }
	.box2e .boxBody .box { background-image: url(../assets/images/boxes/box2e/left.png); }
	.box2e .boxBody { background-image: url(../assets/images/boxes/box2e/body.png); }
	
	.box2s .boxTop .box .box { background-image: url(../assets/images/boxes/box2s/topright.png); }
	.box2s .boxTop .box { background-image: url(../assets/images/boxes/box2s/topleft.png); }
	.box2s .boxTop { background-image: url(../assets/images/boxes/box2s/top.png); }
	.box2s .boxBottom .box .box { background-image: url(../assets/images/boxes/box2s/bottomright.png); }
	.box2s .boxBottom .box { background-image: url(../assets/images/boxes/box2s/bottomleft.png); }
	.box2s .boxBottom { background-image: url(../assets/images/boxes/box2s/bottom.png); }
	.box2s .boxTop .box, .box2s .boxTop { height: 12px; }
	.box2s .boxBottom .box, .box2s .boxBottom { height: 17px; }
	.box2s .boxBody .box .box { background-image: url(../assets/images/boxes/box2s/right.png); padding: 0px 12px; }
	.box2s .boxBody .box { background-image: url(../assets/images/boxes/box2s/left.png); }
	.box2s .boxBody { background-image: url(../assets/images/boxes/box2s/body.png); }
	
	.box2es .boxTop .box .box { background-image: url(../assets/images/boxes/box2es/topright.png); }
	.box2es .boxTop .box { background-image: url(../assets/images/boxes/box2es/topleft.png); }
	.box2es .boxTop { background-image: url(../assets/images/boxes/box2es/top.png); }
	.box2es .boxBottom .box .box { background-image: url(../assets/images/boxes/box2es/bottomright.png); }
	.box2es .boxBottom .box { background-image: url(../assets/images/boxes/box2es/bottomleft.png); }
	.box2es .boxBottom { background-image: url(../assets/images/boxes/box2es/bottom.png); }
	.box2es .boxTop .box, .box2es .boxTop { height: 12px; }
	.box2es .boxBottom .box, .box2es .boxBottom { height: 17px; }
	.box2es .boxBody .box .box { background-image: url(../assets/images/boxes/box2es/right.png); padding: 0px 12px; }
	.box2es .boxBody .box { background-image: url(../assets/images/boxes/box2es/left.png); }
	.box2es .boxBody { background-image: url(../assets/images/boxes/box2es/body.png); }
	
	.cssBox { margin: 0px 0px 10px 0px; }
	.browserIE #mainright .cssBox { width: 98%; }
	.browserIE #mainright #related .cssBox { width: none; }
	.cssBox .box { background-color: transparent; }
	.cssBox .boxTop .box .box { background-position: right top; background-repeat: no-repeat; }
	.cssBox .boxTop .box { background-position: left top; background-repeat: no-repeat; }
	.cssBox .boxTop { background-position: left top; background-repeat: repeat-x; }
	.cssBox .boxBottom .box .box { background-position: right bottom; background-repeat: no-repeat; }
	.cssBox .boxBottom .box { background-position: left bottom; background-repeat: no-repeat; }
	.cssBox .boxBottom { background-position: left bottom; background-repeat: repeat-x; }
	.cssBox .boxTop .box, .cssBox .boxTop, .cssBox .boxBottom .box, .cssBox .boxBottom { font-size: 1px; }
	.browserIE .cssBox { width: 100%; }
	.cssBox .boxBody .box { background-position: top left; background-repeat: repeat-y; }
	.cssBox .boxBody .box .box { background-position: top right; background-repeat: repeat-y; overflow: hidden; }
}
@media print {
	.cssBox { margin: 0 0 1em 0; border: solid 1px #666; border-radius: .5em; padding: .5em; background-color : #fff;}
	.cssBox .boxTop, .cssBox .boxBottom { display: none; }
}
