@import url(boxes.css);
@import url(FigisMap.css);

body { background-color: #fff; color: #4e4e4e; margin: 0; padding: 0; }
@media screen {
	body, td, th { font-family: Verdana, Helvetica, sans-serif; font-size: 12px; }
	.printonly, .printOnly { display: none; }
}
@media print {
	body, td, th { font-family: "Times New Roman", Times, serif; font-size: 1em; }
	.noprint { display: none; }
}
.lang_ar * { direction: rtl; }
.lang_ar *[dir="ltr"], .lang_ar *[dir="ltr"] * { direction: ltr; }
.lang_en *, .lang_es *, .lang_fr *, .lang_zh *, .lang_ar .lang_en * { direction: ltr; }

img { border: none; }
div { margin: 0; padding: 0; }
h1,h2,h3,h4,.h1,.h2,.h3,.h4, h5, .h5, h6, .h6 { display: block; font-weight: bold; }
@media screen {
	/*
	.lang_zh * { font-size: 16px; }
	.lang_ar * { font-size: 16px; }
	*/
	a, .noLink { text-decoration: none; color: #2D8B8C; }
	a:hover, #lang a:hover, .list a:hover, .listOff a:hover, .subList a:hover, .subSubList a:hover, .browse a:hover, .relItem a:hover, .relText p a:hover, .close a:hover, #path a:hover, #topBar2 a:hover, #advSearch a:hover, #ok a:hover, .greenButton a:hover, #bottomBar a:hover, #sourceLink a:hover, input.submit:hover { color: #f90; cursor: pointer; }
	/*
	input, .input { border: 1px; border-style: solid; border-color: #565656; font-size: 11px; }
	*/
	form { margin:0; padding:0; }
	input { font-size: 11px; margin: 1px; }
	.input { border: 1px; border-style: solid; border-color: #565656; font-size: 11px; }
	p.link a:hover { background-color: #2B2E21; color: #f90; z-index: 24; }
	p.link a:link span { display: none; }
	p.link a:hover span { background-color: beige; border: 1px solid #c0c0c0; color: #000; display: block; font: normal 10px/12px Verdana; margin: 15px 0 0 20px; max-width: 220; padding: 2px 10px 2px 10px; position: absolute; text-align: left; }
	a.info { text-decoration: none; }
	a.info:hover { position: relative; }
	a.info span { display: none; }
	a.info:hover span { background: #f0f0f0; border: 1px dotted #c0c0c0; display: block; margin: 10px; padding: 5px; position: absolute; z-index: 100; }
	a.info:hover span.normal{ left: 1px; top: -12px; width: 250px; }
	a.info:hover span.listbox1 { left: -250px; top: -135px; width: 250px; }
	a.info:hover span.listbox2 { left: 0px; top: -80px; width: 250px; }
	a.info:hover span.listbox3 { left: -220px; top: -215px; width: 250px; }
	a.info:hover span.listbox4 { left: -190px; top: -130px; width: 150px; }
	a.info:hover span.listbox5 { left: -180px; top: -200px;width: 150px; }
	h1,h2,h3,h4,.h1,.h2,.h3,.h4 { color: #369; }
	h5, .h5, h6, .h6 { color: #999; }
	h1,.h1 { font-size: 20px; margin-bottom: 10px; margin-top: 5px; }
	h2,.h2 { font-size: 18px; margin-bottom: 10px; margin-top: 5px; }
	h3,.h3 { font-size: 16px; }
	h4,.h4 { font-size: 13px; }
	h5,.h5 { font-size: 13px; }
	h6,.h6 { font-size: 12px; }
}
@media print {
	a, .noLink { text-decoration: none; color: #000; }
	h1,.h1 { font-size: 1.8em; margin-bottom: .8em; margin-top: .4em; }
	h2,.h2 { font-size: 1.6em; margin-bottom: .8em; margin-top: .4em; }
	h3,.h3 { font-size: 1.5em; }
	h4,.h4 { font-size: 1.2em; }
	h5,.h5 { font-size: 1.2em; }
	h6,.h6 { font-size: 1em; }
	.autoExpandSwitch { display: none; }
	#printbottom { margin-top: 1em; border-top: 1px dotted #ccc; text-align: right; padding-top: 4px; }
	#pbyfigisprint { width: 15mm; opacity: .4; }
}
#allWidth img { max-width: 616px; }
/* table, td, th {
	border-collapse : collapse;
	padding : 0;
} */
/*this code makes mozilla and IE behave same for padding */
.l4 { list-style-type: circle; margin-left: 90px; }
.l3 { list-style-type: disc; margin-left: 60px; }
.l2 { list-style-type: square; margin-left: 30px; }
.l1 { font-weight: bold; list-style-type: none; }
.ital { font-style: italic; }
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.super { vertical-align: super; }

@media screen {
	.l4 { font-size: 9px; }
	.l3 { font-size: 12px; }
	.l2 { font-size: 14px; }
	.l1 { font-size: 16px; }
	.small, .smallBlack { font-size: 10px; }
	.smallBlack { color: #000; }
	.gray { color: #565656; }
}
@media print {
	.l4 { font-size: .75em; }
	.l3 { font-size: 1em; }
	.l2 { font-size: 1.2em; }
	.l1 { font-size: 1.3em; }
	.small, .smallBlack { font-size: .8em; }
	.gray { color: #666; }
}

.padRight { padding-right: 5px; }
.padLeft { padding-left: 5px; }
.padBottom { padding-bottom: 5px; }
.padTop { padding-top: 5px; }
.clearleft { clear: left; float: left; }
.clearright { clear: right; float: right; }
.floatLeft, .floatleft { float: left; }
.floatRight, .floatright { float: right; }
.pointer { cursor: pointer; }
.displayfalse { display: none; }
.magImage { float: right; margin: 10px; margin-bottom: 0; margin-right: 0; width: 140px; }
.magImage .imageBody img { width: 140px; }
.pop { background-color: #fefbf4; border: 1px solid gray; padding: 5px; position: absolute; z-index: 2; }
.pop .fiStandardTable { width: auto; }
.noBorder { border: 0; }
.sResult { font-weight: bold; }
.alignRight { text-align: right; }
.whiteOnBlue { font-weight: bold; }
.bottomLine { border-style: solid; border-width: 0 0 1px 0; font-style: italic; font-weight: bold; }
@media screen {
	.greenButton { background-color: #693; border: 1px solid silver; color: #fff; font-weight: bold; height: 18px; padding: 1px; }
	.resultWidth { width: 607px; }
	.sResult { color: #565656; font-family: Arial, Helvetica, sans-serif; }
	.whiteOnBlue { background-color: #369; color: white; margin-top: 5px; padding-left: 5px; }
	.bottomLine { border-color: #0b325d; color: #0b325d; font-size: 13px; }
	#container { left: 50%; margin-left: auto; margin-right: auto; margin-top: 3px; right: 50%; top: 0; width: 760px; }
}
@media print {
	.greenButton { display: none; }
	.sResult { color: #666; }
	.bottomLine { border-color: #999; font-size: 1em; }
	#container { margin: 0; padding: 0; }
}

#path { width: 340px; float: left; color: #565656; font-size: 10px; }
#path a, #lang a, #advSearch a, #lang span { color: #565656; }
#fao { float: left; padding-top: 10px; width: 340px; }
#faoLogo { float: left; }
.lang_ar #fao, .lang_ar #faoLogo, .lang_ar #path { float: right; }
#faoState { float: left; width: 290px; height: 45px; padding-left: 10px; color: #0B325D; font-size: 12px; font-weight: bold; }
.lang_ar #faoState { float: right; padding-right: 10px; padding-left: 0; }
.lang_zh #faoState { font-size: 14px; }
#faoState span { display: block; color: #565656; font-weight: normal; font-style: italic; }
.lang_ar #faoState span { font-style: normal; }
#fiLogo { background-image: url(http://www.fao.org/figis/website/assets/images/templates/fi/fi_dept.gif); background-position: bottom right; background-repeat: no-repeat; color: #0b325d; float: right; font-size: 30px; height: 80px; text-shadow: 2px 2px 2px #ccc; overflow: visible; }
.lang_ar #fiLogo { float: right; background-position: bottom left; }
#fiLogo * { font-size: 30px; }
.lang_ru #fiLogo * { font-size: 26px; }
.lang_zh #fiLogo * { font-size: 32px; }
#fiName { float: right; padding-right: 40px; text-align: right; }
.lang_ar #fiName { float:left; padding-right: 0; padding-left: 40px; text-align: left; }
#fiName2 { clear: right; float: right; margin-top: -10px; padding-right: 60px; white-space: nowrap; text-align: right; }
.lang_ar #fiName2 { clear: left; float:left; padding-right: 0; padding-left: 60px; text-align: left;}
#search { float: right; font-size: 12px; margin-top: -4px; width: 200px; }
#searchBox { border-color: #565656; border-right-width: 0; border-style: solid; border-width: 1px; float: right; height: 17px; }
#searchBox input { border: 0; padding: 0; margin: 0; display:block; }
#ok { background-color: #693; border-color: #565656; border-style: solid; border-width: 1px; float: right; font-size: 13px; height: 17px; }
.lang_ar #search, .lang_ar #searchBox, .lang_ar #ok { float: left; }
.lang_ar #searchBox { border-right-width: 1px; border-left-width: 1px; }
#advSearch { float: right; padding-left: 5px; font-size: 12px; }
.lang_ar #advSearch { float: left; padding-left: 0; padding-right: 5px; }
#lang { clear: left; float: left; width: 340px; padding-top: 13px; padding-bottom: 2px; letter-spacing: 0; direction: ltr; }
.lang_ar #lang { clear: right; float: right; direction: rtl; }
#lang form { display: inline; }
#lang a, #lang span, .lang { padding-right: 5px; padding-left: 5px; border-style: solid; border-width: 0; border-color: #565656; border-left-width: 1px; font-size: 10px; color: black; }

@media screen {
	#screenBanner { font-family: Arial, Helvetica, sans-serif; overflow: visible; min-height: 95px; margin:0; padding: 0; }
	#printableBanner { display:none; }
	#top { clear: both; width: 100%; }
}
@media print {
	#screenBanner { display: none; }
	#top { display: none; }
	#printableBanner { margin: 0 0 1em 0; padding: 0 0 1em 0; border-bottom: 1px solid #ccc; }
	#printableBanner table { width: 100%; border: none; }
	#printableBanner table td { padding: 0; text-align: left; vertical-align: middle; }
	.lang_ar #printableBanner table td { text-align: right; }
	#printableBanner table td * { font-size: 12px !important; font-family: Verdana, sans-serif !important; }
	.lang_ar #printableBanner table td * { font-size: 13px !important; font-family: serif !important; }
	#printableBanner table td p { margin: 0; padding: 0; }
	#printableBanner .faoLogo p { }
	#printableBanner .faoLogo p b { display: block; }
	#printableBanner .faoLogo p i { display: block; }
	.lang_ar #printableBanner .faoLogo p i { font-style:normal; }
	#printableBanner img.faoLogo { width: 10mm; height: 10mm; float: left; margin: 0 .5em 0 0; }
	.lang_ar #printableBanner img.faoLogo { float: right; margin: 0 0 0 .5em; }
	#printableBanner .deptLogo span { display:block; text-align: center; }
}

#topBar3 { width: 100%; }
#topBar3 td { border-right: 1px solid #069; }
.lang_ar #topBar3 td { border-right: none; border-left: 1px solid #069; }
#topBar3 td.topBarCellLast { border-right: none; border-left: none; }
#topBarLine1 td { height: 6px; border-bottom: 1px solid #069; padding: 0; }
#topBarLine2 td { height: 2px; padding: 0; }
#topBarLine4 td { height: 3px; line-height: 2px; padding: 0; }
#topBarLine3 td { text-align: center; padding: 1px 2px; max-width: 110px; font-family: Arial, Helvetica, sans-serif; }
#topBarLine3 td a { font-weight: bold; color: #fff; }
#topBarLine3 td a:hover { color: #f90; }
#topBarLine3 td.topBarCellCurrent { background-color: #693; }
#topBarLine3 td.topBarCellLink { background-color: #069; }
#topBar { border: 0 solid #069; border-top-width: 1px; float: left; font-size: 1px; height: 1px; margin-top: 5px; width: 100%; }
#topBar2 { clear: left; float: left; margin-top: -8px; width: 100%; }
.topBar2Div { float: left; font-size: 12px; height: 17px; line-height: 17px; margin-top: 9px; text-align: center; width: 94px; }
.topBar2Line { background-color: #069; float: left; font-size: 1px; height: 28px; line-height: 28px; width: 1px; }
#topBar2 a, #ok a { color: #fff; font-weight: bold; }
.toptrue { background-color: #693; }
.topfalse { background-color: #369; }
.lang_ru .topBar2Div { height: 34px; }
.lang_ru .topBar2Line { height: 43px; }
#main { margin-top: 15px; }
#sidebar { font-family: Arial, Helvetica, sans-serif; }

@media screen {
	#sidebarContainer { border-right: solid 1px #693; width: 134px; }
	.lang_ar #sidebarContainer { border-left: solid 1px #693; border-right: none; }
}
@media print {
	#sidebarContainer { display: none; }
}

/* to override VMS settings */
#sidebar ul { line-height: normal; margin: 0; }

@media screen {
	#mainRight { margin-bottom: 5px; padding-left: 9px; padding-right: 0; word-wrap: break-word; }
	.lang_ar #mainRight { padding-left: 0; padding-right: 9px; }
	#subMainRight { margin: 0; padding: 0; width: 616px !important; }
	.lang_ar #subMainRight { text-align: right; }
}

/* IE hack 
* html body div#mainRight	
  {
	padding-right: 22px;
  }*/
#subMainRight li h4, #subMainRight li h3 { margin: 1em 0; padding: 0; }

#related { background-color: #fff; clear: right; float: right; margin-left: 15px; padding-bottom: 10px; width: 165px; z-index: 2; }
.relSection { margin-bottom: 15px; }
.relTitle { border: 0 solid #565656; border-bottom-width: 1px; bottom: 0; color: #693; font-size: 16px; font-weight: bold; left: 14px; padding-bottom: 1px; position: relative; width: 154px; }
.relText .relTitle { left: 0; }
.relHead { clear: left; }

@media print {
	.relTitle { color: #666; margin-bottom: .5em; }
	.fullList { display: none; }
}
.EIMSClass { bottom: 0; color: #369; font-size: 120%; font-weight: bold; padding-bottom: 1px; position: relative; position: relative; }
@media screen {
	.EIMSClass { border-color: #693; border-style: solid; border-width: 0 0 1px 0; left: 14px; width: 400px; }
}
@media print {
	.EIMSClass { border-color: #ccc; border-style: solid; border-width: 0 0 1px 1px; margin: .1em 200px .5em 0; padding: 0 0 .1em .5em; }
	.lang_ar .EIMSClass { border-width: 0 1px 1px 0; margin: .1em 0 .5em 200px; padding: 0 .5em .1em 0; }
}
.LayoutClass { border: 0 solid #565656; border-bottom-width: 1px; color: #369; font-size: 20px; font-weight: bold; margin: 0 14px; }
@media print {
	.LayoutClass, .EIMSClass { border-color: #ccc; font-size: 2em; color: #666; margin-top: .5em; margin-bottom: 1em; }
}
/*
.widthRestrictfalse { width: 602px }
*/
.widthRestricttrue { }
.lang_ar .widthRestricttrue { }
.relCorner { position: relative; bottom: 13px; width: 13px; }
.relText .relCorner { margin-left: -14px; }
@media print {
	.relCorner { display:none; }
}
.relText {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	left: 14px;
	width: 151px;
	font-size: 85%;
}
.relText .relText { left: 0; }

.browserFF .relSection>div>li { margin-left: 14px; }

@media screen {
	.relText { font-size: 11px; }
}
/* small hack for those ugly links in the aqua page */
.relText p a { color: #000; font-size: 11px; }
.relItem { display: block; padding-bottom: 15px; }
.relWidth { width: 151px; }
.relWidthFull { width: 390px; }
.relText a { color: #000; }
.relText a:hover { color: #f90; }

@media screen {
	.NEWS a, .EVENTS a { color: #2d8b8c; }
}
.NEWS a, .EVENTS a { font-size: 13px; font-weight: bold; }
.lang_en .EVENTS, .lang_en .NEWS, .lang_es .EVENTS, .lang_es .NEWS,
.lang_fr .EVENTS, .lang_fr .NEWS, .lang_ru .EVENTS, .lang_ru .NEWS,
.lang_zh .EVENTS, .lang_zh .NEWS { clear: left; }
.NEWS { overflow: auto; }
.lang_ar EVENTS, .lang_ar NEWS { clear: right; }

/* new look for homepage news - posponed */
/*
.textDir .relItem { overflow: auto; }
.textDir .NEWS { background-color : #f6f6f6; padding: 2px 4px; overflow: auto; margin-bottom: 4px; border-top: solid 2px #ddd; border-left: solid 1px #ddd; }
.textDir .NEWS { -moz-border-radius-bottomleft: 8px; ; -webkit-border-bottom-left-radius: 8px; }
.textDir .NEWS a, .textDir .NEWS a:link, .textDir .NEWS a:visited { color: #666 ! important; }
.textDir .NEWS a:hover, .textDir .NEWS a:active { color: #2d8b8c ! important; }
.textDir .NEWS .NewsContent0 { margin-top: 4px; }
.textDir .NEWS img { height: 100px; }
*/

.fullList { font-style: italic; font-weight: bold; }
#sourceLink { clear: right; float: right; margin-top: 1em; white-space: nowrap; }
#sourceLink a { color: #693; font-size: 14px; font-weight: bold; padding-bottom: 5px; }
.source { background-color: #fefbf4; background-image: url(../assets/images/templates/fi/rounded_box_top.gif); background-position: top; background-repeat: no-repeat; margin-right: -185px; position: absolute; right: 50%; top: 145px; width: 420px; z-index: 1; }
.relatedLong .source { display: block; }
.relatedShort .source { display: none; }
@media print {
	#related, .relatedShort { background-color : #fff; z-index: 10; }
}
#sourceMid	{
	width: 420px;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-top: 0;
	border-bottom: 0;
	border-color: #693;
}
#sourceBot { background-image: url(../assets/images/templates/fi/rounded_box_bot.gif); background-position: top; background-repeat: no-repeat; clear: left; float: left; height: 25px; width: 420px; }
.close { background-color: #565656; border: 1px solid #565656; color: #fff; float: right; height: 14px; line-height: 12px; margin-right: 7px; margin-top: 7px; width: 13px; }
.pop .close { width: auto; }
.close a { font-size: 18px; color: #fff; font-weight: bold; }
.pop .close a { overflow: auto; }
#sourceText { float: left; padding-left: 15px; padding-right: 15px; }
#altMenus { clear: both; float: left; width: 134px; }
#altMenus ul { margin-right: 10px; }
#bottomBar { clear: both; overflow: auto; margin-top: 10px; background-color: #369; height: 15px; }
#bottomBar a { color: #fff; }
#bottomBar div { height: 15px; padding-left: 15px; padding-right: 15px; text-align: center; font-size: 11px; font-weight: normal; }
#bottomBar2 { clear: both; float: left; height: 1px; width: 100%; margin-top: 1px; border-style: solid; border-width: 0px; border-color: #693; border-top-width: 1px; }
@media print {
	#bottomBar, #bottomBar2 { display: none !important; }
}

#logForm { clear: left; float: left; padding-bottom: 1em; }
#logForm form { display: block;}
#logForm form table { background: #afd688; border: 1px solid gray; }
#logForm form .formLabel { padding: 5px; text-align: right; white-space: nowrap; }
#logForm form .formField { padding: 5px; }

.cmsForms { clear: left; display: block; float: left; font-size: 12px; padding-bottom: 1em; width: 180px; }
.cmsForms div { background: #369; color: #f0f0f0; font-weight: bold; padding-left: 2px; }
.cmsForm { background-color: #693; display: block; margin: 0; }
.cmsForm a { color: #fff; display: block; padding: 2px 10px; }
.cmsForm a:hover { color: #f90; }
.browse { color: #0b325d; }
.browse a { font-size: 11px; }
/* to override VMS settings */
.browse h5 { text-align: left ; }
.menu3 { list-style-type: none; margin-left: 0px; padding-left: 12px; }
.list, .browse, .subList, .subSubList { font-size: 14px; font-weight: bold; list-style-type: none; margin: 0px; padding: 0; }
.list a { color: #369; padding-left: 2px; }
.listLi { border-bottom: 1px solid #693; color: #369; padding-bottom: 10px; padding-top: 10px; }
.listLi2 { padding-top: 0; }
.subList { font-size: 11px; margin-top: 8px; padding-left: 2px; padding-top: 12px; }
.currentMenu { border-bottom: 0; margin-bottom: 0; }
.currentMenu a { border: 0; color: #693; }
.curritem { padding-left: 2px; }
.subList a, .subSubList a { color: #000; font-weight: normal; }
.subLifalse { background-image: url(../assets/images/templates/fi/bullet_sm_off.gif); background-position: 0 .1em; background-repeat: no-repeat; margin-bottom: 8px; padding-left: .6em; }
.subLitrue { background-image: url(../assets/images/templates/fi/bullet_sm.gif); background-position: 0 .1em; background-repeat: no-repeat; color: #369; margin-bottom: 8px; padding-left: .6em; }
.subLitrue a { color: #069; font-weight: bold; }
.subSubList { font-size: 10px; font-weight: normal; list-style-image: none; margin-left: 4px; margin-top: 4px; }
.subSubLifalse { margin-bottom: 4px; }
.subSubLitrue { font-weight: bold; margin-bottom: 4px; }
.subSubLitrue a { color: #369; font-weight: bold; }
.subSubLifalse a { color: #565656; font-weight: normal; }
.subSubSubLifalse { background-image: url(../assets/images/templates/fi/dash_sm_off.gif); background-position: 0 .1em; background-repeat: no-repeat; margin-bottom: 4px; padding-left: .6em; width: 85px; }
.subSubSubLitrue { background-image: url(../assets/images/templates/fi/dash_sm.gif); background-position: 0 .1em; background-repeat: no-repeat; margin-bottom: 4px; padding-left: .6em; width: 85px; }
.subSubSubLitrue a { color: #369; font-weight: bold; }
.subSubSubLifalse a { color: #565656; font-weight: normal; }
.clickablefalse { color: #d6d6d6; }
/* generic class to add a list bullet based on a boolean */
.bullettrue { background-image: url(../assets/images/templates/fi/bullet_sm_off.gif); background-position: 0 .1em; background-repeat: no-repeat; padding-left: .6em; }
#google_results iframe { font-size: 10px; width: 614px; }
#searchResultBar { background-color: #693; border: 1px solid #565656; clear: all; color: white; float: left; font-size: 13px; width: 100%; }
.resultKeywords { float: left; }
.resultCount { float: right; padding-right: 2px; }
/* classes for green frame box done with table */
.tableFrame { background-color: #f5f5f5; border: none; width: 151px; }
.tableFrameHighlight { background-color: #e9f3d3; border: none; width: 151px; }
.tdTopFrame { border-top: 1px solid #693; font-size: 1px; }
.tdBottomFrame { border-bottom: 1px solid #693; font-size: 1px; }
.tdLeftFrame { border-left: 1px solid #693; font-size: 1px; }
.tdRightFrame { border-right: 1px solid #693; font-size: 1px; }
.tdContentFrame a { color: #000; }
.tdContentFrame a:hover { color: #f90; padding-left: 0; }
/* classes for green frame box done with DIV */
.leftTopCorner1 { background-color: #f5f5f5; float: left; }
.rightTopCorner1 { background-color: #f5f5f5; float: left; }
.leftBottomCorner1 { background-color: #f5f5f5; float: left; margin-bottom: 10px; }
.rightBottomCorner1 { background-color: #f5f5f5; float: left; margin-bottom: 10px; }
.bottomFrame1 { background-color: #f5f5f5; border: 0 solid #693; border-bottom-width: 1px; float: left; font-size: 9px; line-height: 12px; margin-bottom: 10px; width: 124px; }
.verticalFrame1 { background-color: #f5f5f5; border-left: 1px solid #693; border-right: 1px solid #693; clear: both; width: 148px; }
.sourceEntryTitle { margin: .5em 0; }
.topFrame1{ border: none; border-top: 1px solid #693; width: 124px; float: left; font-size: 9px; background-color: #F5F5F5; line-height: 12px; }
.padding1 { background-color: #f5f5f5; padding-left: 10px; width: 93%; }
.padding1 a { color: #000; }
.padding1 a:hover { color: #f90; }
.greenBackground { background-color: #e9f3d3; }
.topLine { border-top: 1px dotted gray; font-size: 11px; padding-top: 5px; vertical-align: top; }
.dirAlignRight { text-align: right; }
.dirAlignLeft { text-align: left; }
.tabcontent .dirAlignRight a.sResult img { float: right; margin-bottom: 15px; margin-left: 5px; }
.olControlLoadingPanel { background-image: url(/fi/website/assets/images/loader.gif); background-position: center; background-repeat: no-repeat; display: none; }
.olControlLayerSwitcher { text-align: left; }
.lang_ar .olControlLayerSwitcher { text-align: right; }

.fiStandardTable { border-left: 1px solid #036; border-top: 1px solid #036; margin-top: 1em; width: 90%; }
.fiStandardTable td, .fiStandardTable th { border-bottom: 1px solid #036; border-right: 1px solid #036; padding: 2px 4px; vertical-align: middle; }
.fiStandardTable th { background-color: #eee; }
.fiStandardTable td.nw { white-space: nowrap; }
.fiStandardTable td.c { text-align: center; }
.fiStandardTable td.r { text-align: right; }

.contactEntry { margin: .5em 1em 2em .5em; }
.contactEntry p { margin: 0; }
.contactEntry .contactEntryTitle { font-weight: bold; }
.contactEntry .postalAddress { margin: .5em 2em; }
.contactEntryImage { float:right; overflow: auto; margin-left: .5em; }
.contactEntryImage img { max-height: 140px; max-width: 200px; }
.contactEntry p span.subSubTitle { font-weight: normal; color: #999; }
.browserIE .contactEntryImage img { height: 120px; }

@media screen {
	.mediaBoxContainer { margin: 1em 0;}
	.mediaBoxContainerYouTube { overflow: auto; }
	.mediaBox { }
	.mediaBox .h2 { margin: 0; text-align: center; }
	.mediaBox .h4 { margin: 0; text-align: left; font-weight: normal; color: black; font-size: 12px; }
	.lang_ar .mediaBox .h4 { text-align: right; }
	.mediaBoxContainer.mediaBoxFloatright { float: right; margin: 0 0 .2em 1em; }
	.mediaBoxContainer.mediaBoxFloatleft { float: left; margin-left: 0 1em .2em 0; }
	
	/* GALLERY */
	.mediaBoxGallery { overflow: auto; width: 610px; margin: 0 auto 1em auto; position: relative; overflow: hidden; }
	/* thumbnails */
	.mediaBoxGallery div.thumbnails { width: 610px; white-space: nowrap; float: left; top: 0; left: 0; height: 72px; overflow: hidden; margin: 0; padding: 0; position: relative; }
	.mediaBoxGallery .thumbnails div { display: inline-block; margin: 4px 4px 0 0; overflow: hidden; border: 1px solid #666; width: 60px; height: 60px; }
	.browserIE .mediaBoxGallery .thumbnails div { display: inline; }
	.mediaBoxGallery .thumbnails div { transition: all 1s linear; }
	.mediaBoxGallery .thumbnails:hover div.noncurrent { transition: none; }
	.mediaBoxGallery .thumbnails div.current { border-color: #000; }
	.mediaBoxGallery .thumbnails div.noncurrent { border-radius: 32px; cursor:pointer; opacity: .5; filter: alpha(opacity=50); }
	.browserIE .mediaBoxGallery .thumbnails div.noncurrent { border-color: #eee; }
	.mediaBoxGallery .thumbnails div:hover.noncurrent { box-shadow: 2px 2px 4px #666; opacity: 1; }
	.mediaBoxGallery .thumbnails div img { width: 60px; height: 60px; }
	/* stage width and height */
	.mediaBoxGallery .stage, .mediaBoxGallery .stage div.current, .mediaBoxGallery .stage div.noncurrent,
	.mediaBoxGallery div.stage .medium, .mediaBoxGallery div.stage .h2, .mediaBoxGallery div.stage .h4,
	.mediaBoxGallery div.stage .h5 { width: 610px; }
	.mediaBoxGallery div.stage .medium img { max-width: 610px; }
	.mediaBoxGallery .stage, .mediaBoxGallery .stage div.current, .mediaBoxGallery .stage div.noncurrent,
	.mediaBoxGallery div.stage .medium { height: 300px; }
	.mediaBoxGallery div.stage .medium img { min-height: 300px; }
	/* other stage */
	.mediaBoxGallery { overflow: auto; position: static; }
	.mediaBoxGallery .stage { text-align: center; float: right; margin: 0; position: relative; top: 0; right: 0; z-index: 2; overflow: hidden; }
	.mediaBoxGallery .stage div.current, .mediaBoxGallery .stage div.noncurrent { position: absolute; top: 0; left: 0; right:0; bottom:0; display: block; transition: opacity 1s linear; }
	.mediaBoxGallery .stage div.current { opacity: 1; z-index: 2; filter: alpha(opacity=100);}
	.mediaBoxGallery .stage div.noncurrent { opacity: 0; z-index: 1; filter: alpha(opacity=0); }
	.mediaBoxGallery div.stage .medium { margin: 0; border: 0; text-align: center; display: block; position: relative; }
	.mediaBoxGallery div.stage .medium img { }
	/* titles on image */
	.mediaBoxGallery div.stage .h2, .mediaBoxGallery div.stage .h4,
	.mediaBoxGallery div.stage .h5 { position: absolute; left: 0; right: 0; text-align: center; margin: 0; padding: 0; overflow: hidden; }
	.mediaBoxGallery div.stage .h2 { top: 0; background-color : #eee; color : #006; z-index: 10; height: 17px; font-size: 12px; opacity: .7; filter: alpha(opacity=70); }
	.mediaBoxGallery div.stage .h4 { top: 17px; background-color : #eee; color : #006; z-index: 10; font-size: 10px; font-weight: normal; opacity: .7; filter: alpha(opacity=70); }
	.mediaBoxGallery div.stage .h4:first-child { top: 0; }
	.mediaBoxGallery div.stage .h5 { bottom: 0; background-color : #eee; color : #000; font-size: 10px; font-weight: normal; opacity: .7; filter: alpha(opacity=70); }
	/* navigation */
	.mediaBoxGallery div.stage .nav { position: absolute; top: 110%; display: none; overflow: auto; padding: 4px; transition: top .3s ease-out; }
	.mediaBoxGallery div.stage .nav span { display: block; font-weight: bold; width: 40px; font-size: 18px; box-shadow: 2px 2px 4px #000; text-shadow: 0 0 4px #000; color: #fff; background-color : #999; text-align: center; margin: 0 2px; padding: 4px; cursor: pointer; border: 1px solid #fff; border-radius: 12px; opacity: .6; filter: alpha(opacity=60); }
	.mediaBoxGallery div.stage .navP { z-index: 15; }
	.mediaBoxGallery div.stage .nav span:hover { opacity: .9; filter: alpha(opacity=90); color: #ff0; }
	.mediaBoxGallery div.stage .current .nav, .mediaBoxGallery div.stage .navP { display: block;  }
	.mediaBoxGallery div.stage:hover .nav  { top: 75%;  }
	.mediaBoxGallery div.stage .navB { left: 0; }
	.mediaBoxGallery div.stage .navB span { float: left; }
	.mediaBoxGallery div.stage .navA { right: 0; }
	.mediaBoxGallery div.stage .navA span { float: right; }
	.mediaBoxGallery div.stage .navP { left: 120px; right: 120px; }
	.mediaBoxGallery div.stage .navP span { margin: 0 auto;}
	.mediaBoxGallery div.stage .navP span.nav_paused:hover { background-color : #393;}
	.mediaBoxGallery div.stage .navP span.nav_playing { background-color : #933;}
	
	.mediaBoxVideo video { max-height: 300px; max-width: 610px; margin: 0 auto; }
}

@media print {
	.mediaBoxContainer { display:none; }
}

.ratingDisplay { width: 60px; height: 4px; float:right; background-color: #ccc; border: 1px solid #999; }
.ratingDisplayLow { opacity: .7; }
.browserFF .ratingDisplayLow { -moz-opacity:.8; }
.browserWK .ratingDisplayLow { -khtml-opacity:.8; }
.browserIE .ratingDisplayLow { filter:alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }
.ratingDisplayEmpty { opacity: .3; }
.browserFF .ratingDisplayEmpty { -moz-opacity:.3; }
.browserWK .ratingDisplayEmpty { -khtml-opacity:.3; }
.browserIE .ratingDisplayEmpty { filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
.ratingDisplay div { height: 4px; min-width: 2px; margin: 0; float:left; background-color: #369; }

.replacementAttribution { margin: .5em 0; }
.replacement-isReplacedBy span { font-weight: bold; color: #c00; } 

@media print {
	.autoExpandSwitch a img { display: none; }
	.autoExpandBody { display: block !important; }
}

.searchableData { display: none;}
.searchableItem { overflow: auto; margin-bottom: .5em; border: 1px solid #ccc; padding: 0 0 .5em 0; border-radius: .5em; }
.searchableItem .searchableDisplay { padding: .5em; margin: 0;}
/* .searchableItem .publicationIcon { float: left; } */
.searchableItem label { color: #999; font-weight: bold; }
.searchableItem .identifier { display: none; }
.searchableItem .identifierISBN,.searchableItem .identifierPDF_URI,.searchableItem .identifierZIP_URI { display: block; }
.searchableItem .dateONLINE_DATE, .searchableItem .type { display: none; }
.lang_ar .searchableItem .publicationIcon { float: right; }
.searchableItem .thumbnail { border: 1px solid #ccc; margin: 0 .5em 0 0; width: 150px;}
.lang_ar .searchableItem .thumbnail { margin: 0 0 0 .5em; }
.searchableItem h3 { font-size: 1em; margin: 0 0 .5em 0; }
.searchableItem div { margin-bottom: .5em; }
.searchableItem .moreInfo img { vertical-align: -3px; }
@media screen {
	.PageSearch { float:right; clear:right; width:165px; margin: 0 0 0 15px; border: 1px solid #999; border-radius: 1em; }
	.PageSearch .filterResult { text-align: center; color:#999; padding: 2px 0; margin: 2px 0 0 0; border-top: 1px dotted #ccc; text-transform: capitalize;}
	.PageSearch .filterTotal:before { content: '/'; }
	.PageSearch .filterFound { color: #090; margin: 0 5px;}
	.PageSearchTitle, .PageSearchSubmit { text-align: center; }
	.PageSearchTitle { margin-bottom: 5px; padding: 2px; border-bottom : 1px solid #ccc; }
	.PageSearchSubmit { margin-top: 5px; border-top : 1px solid #ccc; }
	.PageSearchEntry { text-align: right; padding: 1px 2px; }
	.PageSearchEntry input { width: 94px; }
	.PageSearchEntry select { width: 100px; }
	.PageSearchEntry label { color : #999;}
	.PageSearchEntryFullText { border-bottom: 1px dotted #ccc; text-align: center; }
	.PageSearchEntryFullText label { display: block; }
	.PageSearchEntryFullText input { width: 140px; padding: 1px 2px; border: 1px solid #999; margin: 1px auto 2px; text-align: center;}
	.lang_ar .PageSearchEntry { text-align: left; }
	.lang_ar .PageSearch { float:left; clear:left; margin: 0 15px 0 0;}
}
@media print {
	.PageSearch { display:none; }
	.searchableItem { page-break-inside: avoid; }
	img { page-break-inside: avoid; }
	.wtitle { page-break-after: avoid; }
	.FigisMap { page-break-before: avoid; }
	img[src="/fi/figis/assets/images/toolbar/fs_zoom.gif"] { display: none; }
	img[src="/fi/figis/assets/images/factsheets/fs_zoom.gif"] { display: none; }
	img[src="/fi/figis/assets/images/factsheets/fs_table_it.gif"] { display: none; }
}
