/* fake comment for problems with CSS starting with a "#" */

.lang_ar #head_source { float: right; }
#head_source { color: black; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 12px; letter-spacing: 1px; padding-bottom: 5px; }
.lang_ar #head_source { float: right; }
#head_source a:hover { color: #ff9900; }
#head_icon_class { padding-right: 5px; }
#head_title_box { }
@media screen {
	#head_title_class { font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 1px; padding-bottom: 5px; }
}
#head_title_instance { color: black; font-size: 20px; }
#head_subtitle_instance { font-size: 16px; font-style: normal; }
#head_search { float: right; font-size: 12px; font-weight: bold; padding-bottom: 5px; }
.lang_ar #head_search { float: left; }
#head_search a { font-family: Arial, Helvetica, sans-serif; }
#head_search a:hover { color: #ff9900; }
#head_icon_instance { clear: right; float: right; max-height: 60px; }
.icon_legalframework, .icon_countrysector { border: 1px solid Black; }
.subTitle_ontology, .subTitle_org { display: block; }
@media print {
	#head_source, #head_search {
		display: none;
	}
}
