/*
	Species SELECTOR
*/
#SpeciesSelector{
	height: 400px;
	width: 100%;
	position: relative;
	background-image: url(../images/coral.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#SpeciesSelector ul{
	width: 98%;
	margin: 0 2%;
	text-align: left;
	padding: 0;
	position: absolute;
	bottom: 3px;
}


#SpeciesSelector ul li{
	width: 35px;
	height: 35px;
	border-radius: 5px;
	margin: 2px;
	background-color: white;
	list-style-type: none;
	box-shadow: 1px 1px 1px black;
	float: left;
	position:relative;
	overflow: hidden;
}

#SpeciesSelector ul .selectorhover{
	background-image: url(../images/download-icon.png);
	background-color: rgb(96, 156, 203);
	opacity: 0.8;
  	background-size: 65%;
  	background-position: center center;
  	background-repeat: no-repeat;
  	border-radius: 5px;
  	z-index: 10;
  	position: absolute;
    bottom: 0px;
  	right: 0;
  	width: 35px;
	height: 35px;
	display: none;
}

#SpeciesSelector ul .selectorhoverVisible{

	display:inline-block;
	cursor: pointer;
}


#SpeciesSelector ul li.selectorfamily{
	background-color: rgb(96, 156, 203);
}

.singlespecies{
	clear: both;
}

div#sharksIllu{
	margin: 20px 15% 0;
	position: absolute;
	top: 0;
	height: 200px;
}

div#sharksInfo{
	width: auto;
	position: absolute;
	right: -100px;
	bottom: 0
}
div#sharksInfo h1{
	padding: 0;
	margin: 0;
	color: white;
	font-weight: 300;
	font-size: 2em;
}
div#sharksInfo h2{
	padding: 0;
	margin: 0;
	color: white;
	font-weight: 300;
	font-size: 1.1em;
	text-transform: none;
	font-style: italic;
}

div#sharksIllu img{max-width: 100%}

span.mobile{display: none;}


/*
Entities SELECTOR
*/

#entitySelector{
	background-color: rgba(0, 0, 0, 0.5);
	height: 400px;
	width: 100%;
	position: relative;
}


#map{
	width: 70%;
	height: 400px;
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

#legend{
	width: 30%;
	height: 400px;
	background-color: rgba(96, 156, 203, 0.6);
	float: right;
		margin: 0;
	padding: 0;
}

#entitySelector ul{
	margin: 10px 5px;
	padding: 0;
}

#entitySelector ul li{
	width: auto;
	border-radius: 5px;
	margin: 3px;
	background-color: white;
	list-style-type: none;
	box-shadow: 1px 1px 1px black;
	float: left;	
	font-size: 0.8em;
	width: 47%;
	cursor: pointer;
}

#entitySelector .divider {
	clear: both;
}

#entitySelector ul li a.entity{
	margin: 5px;
	line-height: 30px;
}

#entitySelector ul li a.entity:hover{
	color: #f90;	
}

#entitySelector ul li.cites a.entity:hover{
	color: white;	
}

#entitySelector ul li.cms a.entity:hover{
	color: white;	
}

div.eye{
	border-radius: 5px;
	background-color: rgba(96, 156, 203, 0.6);
	height: 30px;
	width: 30px;
	float: right;
}

div.eye:hover{
	background-color: rgba(96, 156, 203, 0.3);
}

.mapBaseImage {
  z-index: 0;
  position: absolute;
  bottom: 19px;
  right: 0;
}

.mapEntityImage {
  z-index: 10;
  position: absolute;
  bottom: 19px;
  right: 0;
}


/* Country selector */

#countriesMap{
	width: 100%;
	max-width: 1200px;
}

#countriesMap ul li{
	list-style-type: none;
	padding: 4px 6px;
	margin:  2px;
	border-radius: 3px;
	float: left;
	font-size: 12px;
	background-color: rgba(255, 255, 255, 1);
	cursor: pointer;
	
}

#countriesMap ul .EUR{
	margin-left: 10px;	
}

#countriesMap ul li:hover{
	color: #f90;	
}

#countriesMap ul{
	padding: 5px;
	margin: 5px 10px 2px 110px;
	width:620px;
	float: left;
	height:98%;
	border-radius: 3px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.1);
}

#countriesMap ul h2{
	font-size: 17px;
	padding: 0;
	margin: 0px 0 0;
	font-weight: 300;
	color: rgba(255,255,255,1);
	position: absolute;
	left: -105px;
	width: 95px;
	text-align: right;	
	text-transform: capitalize;
}

#countriesMap ul div.spacer{
	margin: 0;
}


