/*
	Species SELECTOR
*/

#SpeciesSelector{
	height: 400px;
	width: 100%;
	position: relative;
	background-image: url(../images/coral.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

#SpeciesSelector ul{
	width: 98%;
	margin: 0 2%;
	text-align: left;
	padding: 0;
	position: absolute;
	bottom: 3px;
}


#SpeciesSelector ul li{
	width: 35px;
	height: 35px;
	border-radius: 5px;
	margin: 2px;
	background-color: white;
	list-style-type: none;
	box-shadow: 1px 1px 1px black;
	float: left;
}


#SpeciesSelector ul li.selectorfamily{
	background-color: rgb(96, 156, 203);
}

.singlespecies{
	clear: both;
}

div#sharksIllu{
	width: 60%;
	margin:  5px 20%;
	position: absolute;
	top: 0;
}

div#sharksInfo{
	width: auto;
	//border: 1px solid white;
	position: absolute;
	right: -100px;
	bottom: 0
}
div#sharksInfo h1{
	padding: 0;
	margin: 0;
	color: white;
	font-weight: 300;
	font-size: 2em;
}
div#sharksInfo h2{
	padding: 0;
	margin: 0;
	color: white;
	font-weight: 300;
	font-size: 1.1em;
}

div#sharksIllu img{max-width: 100%}

span.mobile{display: none;}


/*
Entities SELECTOR
*/

#entitySelector{
	background-color: rgba(0, 0, 0, 0.5);
	height: 400px;
	width: 100%;
	position: relative;
}


#map{
	width: 70%;
	height: 400px;
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
}

#legend{
	width: 30%;
	height: 400px;
	background-color: rgba(96, 156, 203, 0.6);
	float: right;
		margin: 0;
	padding: 0;
}

#entitySelector ul{
	margin: 10px 5px;
	padding: 0;
}

#entitySelector ul li{
	width: auto;
	border-radius: 5px;
	margin: 3px;
	background-color: white;
	list-style-type: none;
	box-shadow: 1px 1px 1px black;
	float: left;	
	font-size: 0.8em;
	width: 47%;
}

#entitySelector ul li.cites{
	background-color: rgb(147, 182, 84);
	width: 35%;
}

#entitySelector ul li.cms{
	background-color: rgb(84, 150, 182);
	width: 35%;	
}

#entitySelector ul li a.entity{
margin: 5px;
line-height: 30px;

}

div.eye{
	border-radius: 5px;
	background-color: rgba(96, 156, 203, 0.6);
	height: 30px;
	width: 30px;
	float: right;
}

.mapBaseImage {
  z-index: 0;
  position: absolute;
  bottom: 19px;
  right: 0;
}

.mapEntityImage {
  z-index: 10;
  position: absolute;
  bottom: 19px;
  right: 0;
}

